  *{
    margin: 0;

  }

body{
    font-family: 'Space Mono', monospace;
    font-family: 'Tomorrow', sans-serif;
    background:rgb(144, 4, 4);
    color: white;
    font-size: 1.3em;
     
    
    }  
footer, nav{
    display:flex;
    flex-direction: row;
    padding: 0px 30px 0px 30px;
    justify-content: space-between;
    align-items: center;


        
    
}
header, footer{
    background:rgb(4, 4, 4);
    color:white;
    

}
 
.text{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    gap:20px;
    flex-wrap: wrap;
    
}
.intro-banner{
    display:flex;
    flex-direction: row;
    width: 100%;
    padding:50px ;
    margin-top: 50px;
    margin-bottom: 50px;

    
}

h1{
    font-size:3em;
}

p{
    font-size:1.5em
}

nav a{
    padding-right: 20px;
    font-size: 1.5em;
    color: white;
    text-decoration:none;
}

a:hover{
    text-decoration: underline;
}

td{
    border:2px solid;
    padding: 10px;
    text-align: center;

}

table{
    border-collapse: collapse;
    margin-top: 100px;
    width: 80%;
    margin:auto
}

th{
    text-decoration: underline 2px solid ;
    padding-bottom: 20px;
    margin: auto

}