:root {
    --navbar-pixel-height: 100px;
    --footer-pixel-height: 100px;
}

/* ================================== */
/* ===== Main tag customization ===== */
/* ================================== */
html {
    padding: 0;
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
}

body {
    font-family: "Space Mono", monospace;
    font-family: "Tomorrow", sans-serif;
    background: rgb(1, 0, 18);
    background: linear-gradient(
        90deg,
        rgba(1, 0, 18, 1) 10%,
        rgba(7, 49, 88, 1) 50%,
        rgba(1, 0, 18, 1) 90%
    );
    font-size: 1.3em;
    height: 100%;
}

main {
    display: flex;
    min-height: calc(
        100% - var(--navbar-pixel-height) - var(--footer-pixel-height)
    );
    align-items: center;
    justify-content: center;
}

footer {
    bottom: 0;
    left: 0;
}

footer,
nav {
    display: flex;
    flex-direction: row;
    padding: 0px 30px 0px 30px;
    justify-content: space-between;
    align-items: center;
    height: var(--navbar-pixel-height);
}

h1 {
    font-size: 3em;
    background: -webkit-linear-gradient(
        0deg,
        rgba(176, 122, 236, 1) 3%,
        rgba(255, 53, 101, 1) 4%,
        rgba(254, 138, 77, 1) 1%,
        rgba(255, 53, 101, 1) 17%
    );
    background-clip: text;
    color: transparent;
}

p {
    font-size: 1.5em;
}

table {
    border-collapse: collapse;
    margin-top: 100px;
    width: 80%;
    margin: auto;
}

th {
    text-decoration: underline 2px solid;
    padding-bottom: 20px;
    margin: auto;
}

td {
    border: 2px solid;
    padding: 10px;
    text-align: center;
}

/* =============================== */
/* ===== Reusable properties ===== */
/* =============================== */
.border-top-white {
    border-top: 5px solid white;
}

.border-bottom-white {
    border-bottom: 5px solid white;
}

.background-color {
    background: #010012;
}

.color-white {
    color: white;
}

.gradient-box {
    background: linear-gradient(white, white) padding-box,
        linear-gradient(
                to right,
                rgba(176, 122, 236, 1) 5%,
                rgba(255, 53, 101, 1) 20%,
                rgba(254, 138, 77, 1) 65%,
                rgba(255, 53, 101, 1) 85%
            )
            border-box;
    border-radius: 2em;
    border: 4px solid transparent;
}

/* =========================== */
/* ===== Customs classes ===== */
/* =========================== */

.text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    margin-left: 2%;
}

.intro-banner {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.menu {
    font-size: 1.5em;
    text-decoration: none;
    position: relative;
    margin-left: 20px;
}

.menu:hover::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 2px;
    background: linear-gradient(
        90deg,
        rgba(176, 122, 236, 1) 5%,
        rgba(255, 53, 101, 1) 20%,
        rgba(254, 138, 77, 1) 65%,
        rgba(255, 53, 101, 1) 85%
    );
}

.flex-all-center {
    display: flex;
    justify-content: center;
}

.flt-logo {
    width: 125px;
}

.animation-r {
    background: linear-gradient(90deg, rgba(1, 0, 18, 1) 10%, rgba(7, 49, 88, 1) 50%, rgba(1, 0, 18, 1) 90%) padding-box,
        linear-gradient(to right, rgba(176, 122, 236, 1) 5%, rgba(255, 53, 101, 1) 20%, rgba(254, 138, 77, 1) 65%, rgba(255, 53, 101, 1) 85%) border-box;
    content: url(../images/r-logo-white-mini.png);
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 5px solid transparent;
    animation: spin 3s linear infinite;
    margin-left: 95%;
    margin-top: -100px;
}

@keyframes spin {
    100%{
        transform: rotateY(360deg);
    }
}