---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="text color-white">
        <h1>A Propos</h1>
        <p>Roshbet est un site de paris non sportif basé sur l'humour.</p>
    </section>
</Layout>
