---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="intro-banner">
        <img
            src="images/roshbet-banner1.png"
            alt="roshol-nl1"
            class="gradient-box"
        />
        <!-- il faut séparer le bloc photo du bloc texte -->
        <div class="text color-white">
            <h1>Roshbet</h1>
            <p>
                Avez-vous toujours voulu savoir quand Roshol rentre chez lui?
                Nous aussi!<br />Pariez avec nous sur le moment où il arrivera
                avec Roshbet.
            </p>
            <table>
                <tr>
                    <th>Participant</th>
                    <th>Pronostique</th>
                    <th>Résultat</th>
                </tr>
                <div>
                    <tr>
                        <td>Bargol</td>
                        <td>16h54</td>
                        <td>FAUX</td>
                    </tr>
                    <tr>
                        <td>Shaktas</td>
                        <td>16h58</td>
                        <td>FAUX</td>
                    </tr>
                    <tr>
                        <td>Munchie</td>
                        <td>17h01</td>
                        <td>FAUX</td>
                    </tr>
                    <tr>
                        <td>Sébulba</td>
                        <td>17h13</td>
                        <td>FAUX</td>
                    </tr>
                    <tr>
                        <td>Kefco</td>
                        <td>16h52</td>
                        <td>FAUX</td>
                    </tr>
                </div>
            </table>
        </div>
    </section>
</Layout>
